td {
    font-size: 1vw;
    height: 15px;
    width: 20vw;
    vertical-align: top;
}

button {
    font-size: 1vw;
    margin: 2px 3px;
}

p {
    margin-left: 0.5vw;
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    td {
        font-size: 1.8vw;
        height: .5vh;
    }
    button {
        font-size: 1vw;
    }
    p {
        margin-left: 0.2vw;
    }
}


