@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100vw;
  background-color: #9b9b9b;
  height: 6vw;
  display: flex;
  font-size: calc(10px + 2vmin);
  font-weight: 550;
  font-family: 'Noto Sans JP', sans-serif;
  color: rgb(182, 216, 173);
  justify-content: space-between;
  padding: 0 1vw;
  align-items: flex-end;
  z-index: 2;
  border-bottom: palegreen solid 2px;
  box-shadow: 5px 0px 15px 10px #8080805d;
}

.App-link {
  color: #61dafb;
}

.ContactBook {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 95vw;
  margin: 0 auto;
  top: 8vw;
  z-index: ;
}


th {
  text-align: left;
  border-bottom: 2px solid black;
}

td {
  text-align: left;
  border-left: 1px dotted rgb(161, 161, 161);
  border-bottom: 1px solid rgba(185, 184, 184, 0.747);
  padding: 0;
}


@media screen (max-width: 1000px){
  .ContactBook {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 90vw;
    margin: 0 0 0 2vw;
    top: 8vw;
    z-index: ;
  }
}

.btn {
  font-size: 1vw;
}

.form-control {
  font-size: 1vw;
}

.table {
  padding: 1px;
}


.bg {
  z-index: -3;
  position: fixed;
  display: flex;
  width: fit-content;
  justify-content: center;
}


.typewriter{
  margin: auto;
  display: flex;  position: relative;
  /* top: 20vh; */
  align-items: center;
  width: min-content;
}

.typewriter h1 {
  background-color: #aca8a8a8;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid rgb(0, 0, 0); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 40vh auto 0 ; /* Gives that scrolling effect as the typing happens */
  top: 20vh;
  letter-spacing: .15em; /* Adjust as needed */
  color: rgb(14, 19, 13);
  animation: 
    typing 3s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  100% { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}