@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100vw;
  background-color: #9b9b9b;
  height: 6vw;
  display: flex;
  font-size: calc(10px + 2vmin);
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  justify-content: space-between;
  padding: 0 1vw;
  align-items: flex-end;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

.ContactBook {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1300px;
  margin: 0 auto;
  top: 8vw;
  z-index: ;
}


th {
  text-align: left;
  border-bottom: 2px solid black;
}

td {
  text-align: left;
  border-left: 1px dotted rgb(161, 161, 161);
  border-bottom: 1px solid rgba(185, 184, 184, 0.747);
}

.buttons {
  border-left: 1px dotted rgba(161, 161, 161, 0);
  border-bottom: 1px solid rgba(185, 184, 184, 0);
}

@media screen (max-width: 1000px){
  .ContactBook {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 90vw;
    margin: 0 0 0 2vw;
    top: 8vw;
    z-index: ;
  }
}

.btn {
  font-size: 1vw;
}

.form-control {
  font-size: 1vw;
}